<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="amitech.twok16.amitech16">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!--
      GET_ACCOUNTS is only required for GCM on devices running Android lower than
      4.0.4. You may leave out this permission if you are targetting 4.0.4+.
    -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="amitech.twok16.amitech16.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="amitech.twok16.amitech16.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".ParseConnector"
        android:allowBackup="true"
        android:icon="@mipmap/baselogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OnBoard"
            android:theme="@style/onBoardTheme" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amitech.twok16.amitech16.Home" />
        </activity>
        <activity
            android:name=".EventsHome"
            android:label="@string/title_activity_events_home"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amitech.twok16.amitech16.Home" />
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amitech.twok16.amitech16.Home" />
        </activity>
        <activity
            android:name=".ContactUS"
            android:label="@string/title_activity_contact_us"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amitech.twok16.amitech16.Home" />
        </activity>
        <activity
            android:name=".Transport"
            android:label="@string/title_activity_transport"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amitech.twok16.amitech16.Home" />
        </activity>
        <activity
            android:name=".Team"
            android:label="@string/title_activity_team"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amitech.twok16.amitech16.Home" />
        </activity>
        <activity
            android:name=".Sponsors"
            android:label="@string/title_activity_sponsors"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amitech.twok16.amitech16.Home" />
        </activity>
        <activity
            android:name=".Schedule"
            android:label="@string/title_activity_schedule"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amitech.twok16.amitech16.Home" />
        </activity>
        <activity
            android:name=".Website"
            android:label="@string/title_activity_website"
            android:parentActivityName=".ContactUS"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amitech.twok16.amitech16.ContactUS" />
        </activity>


        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amitech.twok16.amitech16.Home" />
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="mzufUmeiDu1HUKnFe2yKEbCsmnuyVi7zMnz1DIV1" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="Arlel1R0HbS6Sd52A87A1EHLZgp5qT7FdjHFsPrd" />

        <service android:name="com.parse.PushService" />

        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!-- IMPORTANT: Change "com.parse.starter" to match your app's package name. -->
                <category android:name="amitech.twok16.amitech16" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".CulturalEvents"
            android:label="@string/title_activity_cultural_events"
            android:parentActivityName=".EventsHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amitech.twok16.amitech16.EventsHome" />
        </activity>
        <activity
            android:name=".FunEvents"
            android:label="@string/title_activity_fun_events"
            android:parentActivityName=".EventsHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amitech.twok16.amitech16.EventsHome" />
        </activity>
        <activity
            android:name=".TechnicalEvents"
            android:label="@string/title_activity_technical_events"
            android:parentActivityName=".EventsHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amitech.twok16.amitech16.EventsHome" />
        </activity>
        <activity
            android:name=".LiteraryEvents"
            android:label="@string/title_activity_literary_events"
            android:parentActivityName=".EventsHome"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="amitech.twok16.amitech16.EventsHome" />
        </activity>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCuqYML1CiWwa87uXxV18XgiCGWMFwExs0" />
    </application>

</manifest>
